<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .red{
            color: red;

        }
        .blue{
            color: blue;
        }
    
    </style>
</head>
<body>
    <div id="test">
        <!-- 你好， {{content}}, {{description}}
        <h1>
            {{description}}
        </h1>
        <h2>
            {{content}}的wife是{{wife}}
        </h2> -->
        <h2>
            我有{{obj.money}}万
        </h2>
        <!-- <h2>
            我的好朋友是：{{list[0].age}}
        </h2> -->
        <!-- <input type="text" v-model='obj.money'> -->

        <ul>
            <li  v-for="(key,index) in list">姓名：{{key.name}}, 年龄{{key.age}}</li>
        </ul>
        <img src="a.jpg" alt="" width="100px">
        <img v-bind:src="imgSrc" width="100px">
        <br>
        <span v-bind:class='haha'>我的小欣欣</span>
        <span v-bind:class='{red: obj.money < 2, blue: obj.money > 2}'>我的小可爱</span>
    </div>

    <script type="module">
        // console.log(1111);
        import Due from './core/index.js';

        window.test = new Due({ //因为我们这里的script是module，所以这里的变量是局部的。因此我们想要定义全局变量使用window.xxx就好了
            el: 'test', //为了方便我们这里就只允许id，所以#就不写了
            data: {
                content: 'ljz',
                description: 'ljz真帅',
                wife: 'lx',
                obj: {
                    money: 100000
                },
                money: 100,
                list: [{name:'lj', age: 18}, {name: 'lx', age: 19}, {name: 'cx', age: 21}],
                imgSrc: 'a.jpg',
                haha: 'red'
            }
        }); 
    </script>
</body>
</html>